.hide {
    display: none;
}

#subheader_list_container {
    justify-self: center;
    position: fixed;
    width: 100%;
    padding: 15px;
    flex: 1;
}
#subheader_list_container ul {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
}
#subheader_list_container li {
    font-size: 1rem;
    font-weight: 800;
    color: black;
}
